# and any files in the cache directory
/.idea/*
/manager/*
/assets/cache/*
/assets/docs/*
/assets/export/*
/assets/files/*
/assets/flash/*
/assets/images/*
/assets/import/*
/assets/js/*
/assets/media/*
/assets/site/*
/assets/snippets/*
/assets/templates/*
/assets/index.html
/assets/plugins/managermanager/*
/assets/plugins/qm/*
/assets/plugins/tinymce/*
/assets/plugins/transalias/*
/assets/plugins/diff/chunk/*
/assets/plugins/diff/document/*
/assets/plugins/diff/module/*
/assets/plugins/diff/plugin/*
/assets/plugins/diff/snippet/*
/assets/plugins/diff/template/*
!/assets/plugins/diff/chunk/.htaccess
!/assets/plugins/diff/document/.htaccess
!/assets/plugins/diff/module/.htaccess
!/assets/plugins/diff/plugin/.htaccess
!/assets/plugins/diff/snippet/.htaccess
!/assets/plugins/diff/template/.htaccess
/assets/modules/docmanager/*
/.htaccess
/index.php
/index-ajax.php
/sample-robots.txt
!/.gitignore
!/assets/modules/barilla/*